params {
    analyses = [
        'AFR_EUR': ['AFR_ALL', 'EUR_ALL'],
        'ALL': ['AFR_ALL', 'EUR_ALL', 'EAS_ALL', 'AMR_ALL', 'SAS_ALL'],
        'ALL_M': ['AFR_M', 'EUR_M', 'EAS_M', 'AMR_M', 'SAS_M'],
        'ALL_F': ['AFR_F', 'EUR_F', 'EAS_F', 'AMR_F', 'SAS_F'],
        'Leave_EUR_Out': ['AFR_ALL', 'EAS_ALL', 'AMR_ALL', 'SAS_ALL']
    ]

    
    // Executables for python and GWAMA
    my_python = '/opt/conda/bin/python'
    gwama_path = '/app/GWAMA'

    // Lists of phenotypes
    bin_pheno_list =  ['T2D', 'AAA']
    quant_pheno_list = ['LDL_median', 'BMI_median']

    // Min Allele Frequency for Meta-Analysis
    min_meta_input_EAF = 0.05

    // Pre- and Post-Processing Params
    sumstats_suffix = '.saige.gz'
    p_cutoff_summarize = 0.00001

    annotate = true

    // The following arguments go with annotate=true and will be used by the biofilter_wrapper sub-workflow
    biofilter_build = '38' // can be 19 or 38
    biofilter_loki = '/path/to/data/loki.db'
    biofilter_script = '/app/biofilter.py' // Must be an executable python file
    biofilter_close_dist = 5E4

    // Column names to map:
    // Keys = GWAMA Column
    // Values = Input Column
    input_col_names = [
        'MARKERNAME' : 'variant_id',
        'EA' : 'effect_allele',
        'NEA' : 'other_allele',
        'OR' : 'odds_ratio',
        'OR_95L' : 'odds_ratio_ci_95L',
        'OR_95U' : 'odds_ratio_ci_95U',
        'BETA' : 'beta',
        'SE' : 'standard_error',
        'N' : 'N',
        'N_CASE': 'n_cases',
        'N_CTRL': 'n_controls',
        'EAF' : 'effect_allele_frequency',
        'CHR' : 'chromosome',
        'POS' : 'base_pair_location'
    ]
}