params {
    analyses = [
        'ALL': ['POP1', 'POP2', 'POP3'],
        'JUST_23': ['POP2', 'POP3']
    ]
    random_effect_analyses = ['ALL']
    
    // Executables for python and GWAMA
    my_python = '/opt/conda/bin/python'
    gwama_path = '/app/GWAMA'

    // Lists of phenotypes
    bin_pheno_list =  ['bin_PHENO1', 'bin_PHENO2']
    quant_pheno_list = []

    // Min Allele Frequency for Meta-Analysis
    min_meta_input_EAF = 0.01

    // Pre- and Post-Processing Params
    sumstats_suffix = '.sumstats.sim.txt.gz'
    p_cutoff_summarize = 0.01

    annotate = false

    // Column names to map:
    // Keys = GWAMA Column
    // Values = Input Column
    input_col_names = [
        'MARKERNAME' : 'RSID',
        'EA' : 'A1',
        'NEA' : 'A2',
        'BETA' : 'BETA',
        'SE' : 'SE',
        'N' : 'N',
        'N_CASE': 'N_CASES',
        'N_CTRL': 'N_CONTROLS',
        'EAF' : 'A1_FREQ',
        'CHR' : '#CHROM',
        'POS' : 'BP'
    ]
}