// This is where you may include pipeline-specific configurations which you make
// They should be relative to wherever this nextflow.config file is
// includeConfig 'pipeline.config'
// you can find example configuration files in the READMEs and the Example_Configs folder

profiles {
    non_docker_local {
        // run locally without docker
        process.executor = awsbatch-or-lsf-or-slurm-etc
    }

    cluster_singularity {
        // run on computing cluster
        // CHANGE EVERY TIME!
        process.executor = awsbatch-or-lsf-or-slurm-etc
        process.queue = 'add your queue name here'

        singularity.enabled = true
    	process.container = 'this will be the path to the .sif file you build'
        singularity.runOptions = '-B /root/,/directory/,/names/'

        executor {
            queueSize=500 // we do this so nextflow is allowed to manage more jobs at a time
        }

        process.memory = '15GB' // this is a solid default memory request - adapt to your needs
        // saige_process is a label for processes that uses the standard container
        withLabel: saige_process {
                container = 'docker://wzhou88/saige:1.5.0.2'
            }
    }

    all_of_us_batch {
        // CHANGE EVERY TIME! These are specific for each user, see docs
        google.batch.serviceAccountEmail = '{args.aou_service_email}' // change to user-specific service email
        workDir = /path/to/workdir/ // can be gs://
        google.project = terra project id

        // You'll have to change this container to correspond with whichever pipeline you're using
        process.container = '{image_name}'

        process.memory = '15GB' // minimum memory per process (static)
        process.executor = awsbatch-or-lsf-or-slurm-etc
        process.machineType = 'n2-*' // AoU uses n2-* and others (semi-static)

        // these are AoU, Batch parameters that we recommend not changing
        google.zone = "us-central1-a" // AoU uses central time zone (static)
        google.location = "us-central1"
        google.batch.debug = true
        google.batch.network = "global/networks/network"
        google.batch.subnetwork = "regions/us-central1/subnetworks/subnetwork"
        google.batch.usePrivateAddress = true
        google.batch.copyImage = "gcr.io/google.com/cloudsdktool/cloud-sdk:alpine"
        google.enableRequesterPaysBuckets = true
    }
}

params {
    skipPostprocessingErrors = false
}

process {
    withLabel: safe_to_skip {
        errorStrategy=params.skipPostprocessingErrors ? 'ignore' : 'terminate'
    }
}
