// set up params
// can be customized by user
params {
    // python path
    my_python = '/opt/conda/bin/python' // path to python in singularity container or docker image
    // plink2 path (MUST BE PLINK2 NOT PLINK1.9)
    my_plink2 = 'plink2' // path to plink2 in singularity container or docker image (plink2 is on the path)
    
    // list of chromosomes
    chromosome_list = (1..2)

    /*
    descriptor file that specficies the cohort, ancestry, phenotype, and pgs weights filename
    must have five columns: cohort, ancestry, phenotype, pgs weights filename
    cohort: a nickname, for example, "AFR_ALL", "AFR_M", "PMBB"
    pgs_weights_filename column: specify PGS weights filenames with FULL file path
    MUST BE A CSV
    descriptor filename:
    */
    input_descriptor_table_filename="${launchDir}/Input/test_descriptor_file.csv"
    /*
    dictionary including names of essential columns in descriptor table
    specifies cohort, ancestry, phenotype and pgs weights filename column names
    */
    input_descriptor_table_colnames = [cohort_colname: 'COHORT',
                                        ancestry_colname: 'ANCESTRY',
                                        phenotype_colname: 'PHENOTYPE',
                                        pgs_weights_full_filpath_colname: 'SCORE_FILEPATH']
    /*
    dictionary that specifies the column names in your PGS output files
    need to specify chromosome column, position column, A1 column, A2 column, variant ID column, and PGS column
    this assumes that all PGS output files have the same column names
    do not change the keys (pos_colname, a1_colname, etc), only change the values accordingly
    */
    score_file_colnames = [chr_colname: 'CHR', // chromosome column name in PGS output file
                pos_colname: 'POS', // pos_colname: 'chr_position', // base pair/position column name
                a1_colname: 'A1', // A1 / effect allele / alternate (ALT) allele column name
                a2_colname: 'A2', // A2 / other allele /reference (REF) allele column name
                variant_id_colname: 'ID', // variant ID column name
                pgs_colname: 'PGS'] // PGS column name
    /* 
    score_variant_id_format specifies the variant ID format in the score file
    this assumes that all score files have the same variant ID
    modeled this based on the plink format
    examples:
    "RSID" = RSID (ex: rs6893237)
    "@:#:$r:$a" = chr:pos:ref:alt (ex: 1:100000:G:A)
    "chr@:#:$r:$a" = chr:pos:ref:alt (ex: chr1:100000:G:A)
    '@:#' = chr:pos (ex: 1:100000)
    'chr@:#' = chr:pos (ex: chr1:100000)
    */
    score_variant_id_format = "chr@:#"
    
    /*
    dictionary that specifies validation cohort information
    each key is a cohort nickname (ex: PMBB, UKBB, eMERGE)
    each key must have nested keys 'plink_prefix', 'plink_suffix', 'plink_file_flag', 'population_subset_file' and 'variant_id format' but change these values accordingly (make sure the values are in quotes)
    plink files must be chromosome separated
    all cohorts must be in the same genome build as each other and as the PGS outputs
    */
    validation_populations = [genotype_100markers_sim:
                    [plink_prefix: "${launchDir}/Input/genotype_100markers_2chr.chr", // plink prefix (before chromosome number in plink file) for plink score
                    plink_suffix: '', // plink suffix (after chromosome number in plink file) for plink score
                    plink_file_flag: '--pfile', // plink flag specifying the input file for plink score. options are '--pfile' (for plink2 files) or '--bfile' (for plink1 files). Make sure to write this as '--bfile' and not 'bfile'
                    population_subset_file: "${launchDir}/Input/genotype_100markers.random_sample_list.txt", // file with a list of sample IDs to include when computing the score
                    population_subset_file_id_col: '1', // ID column name in population subset file. Use a numeric index (based on python, so first column name would be 0) if there is no column name
                    population_subset_file_delim: '\t', // Delimiter population subset file. Use any delimiter if it just a one column file. Possible options- tab: '\t', space: '\s+', comma: ','
                    variant_id_format: 'RSID'], // variant ID format in the plink files (exmaple formats are above)
]

    // plink score parameters
    dosage_transformation = '' /* defines whether dosage information is transformed
                                possible choices:
                                '' (blank) = basic allele dosages used (0..2 on diploid chromosomes, 0..1 on haploid, male chrX encoding controlled by --xchr-model)
                                'center' = translates all dosages to mean zero. (More precisely, they are translated based on allele frequencies, which you can control with --read-freq)
                                'variance-standardize' = linearly transforms each variant's dosage vector to have mean zero, variance 1 (cannot be used with chrX)
                                'dominant' = causes dosages greater than 1 to be treated as 1 (cannot be used with chrX)
                                'recessive' = uses max(dosage - 1, 0) on diploid chromosomes (cannot be used with chrX)
                            */
    xchr_model = '2'  /*  PLINK 2 dosages are on a 0..2 scale on regular diploid chromosomes, and 0..1 on regular haploid chromosomes.
                        However, chrX doesn't fit neatly in either of those categories. --xchr-model lets you control its encoding in several contexts
                        possible choices:
                        '0' = Skip chrX
                        '1' = Male dosages are on a 0..1 scale on chrX, while females are 0..2. This was the PLINK 1.x default
                        '2' = Males and females are both on a 0..2 scale on chrX. This is the PLINK 2 default
                    */
    read_freq = 'auto'    /*  the --read-freq loads in allele frequency estimates from a --freq (PLINK 1.x ok), --geno-counts, or PLINK 1.9 --freqx report, instead of imputing them from the immediate dataset
                        possible file types (by suffix): .afreq/.acount/.gcount/.freq/.frq/.frq.count/.frqx
                        possible choices:
                        'auto' = not specifying an allele frequency file, instead imputing them from the dataset being used
                        'filename' = filename of an allele frequency file
                    */
    no_mean_imputation = '' /*  By default, copies of unnamed alleles contribute zero to score, while missing genotypes contribute an amount proportional to the loaded (via --read-freq) or imputed allele frequency.
                                To throw out missing observations instead (decreasing the denominator in the final average when this happens), use the 'no-mean-imputation' modifier.
                                possible choices:
                                '' (blank) = not using this modifier
                                'no-mean-imputation' = using this modifier
                            */
    independent_se = '' /*  The 'se' modifier causes the input coefficients to be treated as independent standard errors;
                            in this case, standard errors for the score average/sum are reported, under a Gaussian approximation.
                            (This will of course tend to underestimate standard errors when scored variants are in LD.)
                            possible choices:
                            '' (blank) = not using this modifier
                            'se' = using this modifier
                        */
}
