params {
    // python version (default is for the container)
    my_python = '/opt/conda/bin/python'
    my_plink2 = '/usr/bin/plink2'

    // chromsome list
    chromosome_list = [1, 2]

    // plink clump parameters (PLINK docs have more details)
    // clump_p1 lead SNP p-value threshold
    // clump_p2 is the threshold for other SNPs in the clump
    // clump_r2 is the min R^2 for being clumped with a lead SNP
    // clump_kb is the max kb distance for being clumped with a lead SNP
    clump_options = [
        clump_p1: 0.001,
        clump_p2: 1,
        clump_r2: 0.1,
        clump_kb: 1000
    ]

    // Each summary stats file gets an analysis nickname
    // (the key such as Meta_AFR or Meta_ALL or GWAS_EUR)
    // Columns of this .csv include:
    // analysis, file, ref_prefix, ref_suffix, ref_plink_flag
    input_descriptor_table_filename = "${launchDir}/sumstats_manifest.csv"

    // Input column names
    // All must match in your summary stats provided
    // chr_col, pos_col are for coordinates
    // id_col is for the variant IDs
    // p_col is for p values
    // A1 is the effect allele and A2 is the other allele
    input_colnames = [
        'chr_col': '#CHROM',
        'pos_col': 'BP',
        'id_col': 'ID_CHR:POS:REF:ALT',
        'p_col': 'P',
        'A1_col': 'A1',
        'A2_col': 'A2'
    ]
    
    // parameters for getting RSIDs and nearest genes
    annotate = false // whether or not to annotate with biofilter
}