params {
    // default assumes use of the docker container
    my_python = "/opt/conda/bin/python"
    
    data_csv = "${launchDir}/Input/pheno_1000samples.txt_withdosages_withBothTraitTypes.csv"
    cohort_sets = "${launchDir}/Input/pheno_1000samples.txt_withdosages_withBothTraitTypes.COHORTS.csv"
    related_list = "${launchDir}/Input/related_samplelist.txt"

    // default paths are for PMBB Imputed data
    plink_chr_prefix = "${launchDir}/Input/genotype_100markers_2chr.chr"
    plink_chr_suffix = ""
    plink_flag = "--bfile"

    min_maf = 0.01
    max_missing_per_var = 0.05
    max_missing_per_sample = 0.05
    hwe_min_pvalue = 1E-10

    // categorical and continuous covariates
    cat_covars = ["x2"]
    cont_covars = ["x1"]

    sex_strat_cat_covars = []
    sex_strat_cont_covars = cont_covars

    // P-Value Threshold for Summarizing Results at the End
    p_cutoff_summarize = 0.00001

    // ID column label
    id_col = "IID"

    // Minimum number of cases/N
    min_bin_cases = 1
    min_quant_n = 1

    // list of cohorts
    cohort_list = ["POP1", "POP2", "POP3"]
    sex_strat_cohort_list = ["POP2"]

    // binary and quantitative phenotype lists
    bin_pheno_list = ["y_binary"]
    quant_pheno_list = ["y_quantitative"]

    // list of sex-specific phenotypes to handle cohorts
    sex_specific_pheno_file = null
    
    // list of chromosomes
    chromosome_list = ["1", "2"]

    // Add Biofilter Annotations
    // annotate = true
    annotate = false
    biofilter_build = '38' // can be 19 or 38
    biofilter_loki = '/path/to/data/loki.db'
    biofilter_script = '/app/biofilter.py' // Must be an executable python file
    biofilter_close_dist = 5E4

    // Dictionary (Map) with default Plink2 GWAS GLM column names mapped to new ones
    plink2_col_names = [
        '#CHROM': 'chromosome',
        POS: 'base_pair_location',
        ID: 'variant_id',
        A2: 'other_allele',
        A1: 'effect_allele',
        A1_FREQ: 'effect_allele_frequency',
        BETA: 'beta',
        SE: 'standard_error',
        T_STAT: 't_statistic',
        P: 'p_value',
        N: 'n'
    ]
}